*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body{
    font-family: 'Cormorant Garamond', serif;
  }
  
  .ewk_cont_banner{
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: sans-serif;
        background-color: #2196F3;
        background: url(../resources/pictures/bg-pattern.png), #375A8A;
        background: url(../resources/pictures/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#375A8A), to(#2C85FF));
        background: url(../resources/pictures/bg-pattern.png), linear-gradient(to left, #375A8A, #2C85FF)
    }
    
    .box{
      width: 45%;
      padding: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0,0,0,0.6);
      text-align: center;
    }
    
    .box h1{
      color: White;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 50px;
    }
    .box hr{
      border-top: 1px solid #fff;
    }
    
    .box label{
      color: White;
    }
    
    .box input[type ="text"], .box input[type="number"], .box input[type="date"]{
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid darkred;
      padding: 14px 10px;
      width: 250px;
      outline: none;
      color: White;
      border-radius: 24px;
      transition: 0.25s;
    }
    
    .box input[type ="text"]:focus, .box input[type="number"]:focus, .box input[type="date"]:focus{
      width: 320px;
      border-color: #2ecc71
    }
    
    .box button{
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #2ecc71;
      padding: 14px 40px;
      outline: none;
      color: White;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
    
    .box button:hover{
      background: #2ecc71;
    }