<!DOCTYPE html>
<html>
    <head>
        <title>Centro Clinico</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width", user-scalabe=no>
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
        <link rel="stylesheet" href="/css/indexbanner.css"/>
        <link rel="stylesheet" href="/css/indexkeyframes.css"/>
        <link rel="stylesheet" href="/css/indexstyle.css"/>
    </head>
    <body>
        <div class="ewk_cont_banner">
            <div class="ewk_sombra">
              <h1>Centro Clínico: Nueva Esperanza</h1>
              <p>Tu mejor opción en salud</p>
              <hr/>
              <div class="ewk_cont_banner_link">
                <a class="ewk_banner_link" href="/login">Iniciar Sesión</a>
              </div>
            </div>
          </div>
    </body>
</html>