<!DOCTYPE html>
<html>
    <html>
       <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>MI MUEBLERIA</title>
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
        <link rel="stylesheet" href="../resources/libraries/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/registrar-medico-secretaria.css"/>
        <link rel="stylesheet" href="/css/generalstyle.css"/>

    </head>
    <body>
        <header>
            <nav class="ewk_navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <div class="container-fluid">
                <a class="navbar-brand" href="/secretary">AREA DE SECRETARÍA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="pagina-area-fabrica.jsp" href="/secretary">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="pagina-area-fabrica.jsp" href="/secretary/venta">Registrar Exámen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="pagina-area-fabrica.jsp" href="/secretary/registrar-medico">Registrar Medico Referencia</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
        </header>
        <div class="ewk_cont_banner">
            <form class="box">
                <h1 class="col" style="text-align: center">REGISTRO MÉDICO</h1>
                <hr>
                <div>
                  <div class="mb-6">
                    <label for="nombreDoctor">*Doctor Referido:</label>
                    <input type="text" id="nombreDoctor" name="nombreDoctor" placeholder="Nombre Doctor" autocomplete="off" required>
                  </div>
                  <hr class="mb-4">
                  <button type="button" id="boton-login" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-2 btn-primary-spacing">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Iniciar Sesión
                  </button>
                </div> 
            </form>
        </div>  
        <script src="../resources/libraries/bootstrap/js/jquery.js"></script>
        <script src="../resources/libraries/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/registrar-medico.js"></script>
    </body>
</html>