<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Centro Clinico</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="../resources/libraries/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/banner-secretary.css" />
    <link rel="stylesheet" href="/css/indexkeyframes.css" />
    <link rel="stylesheet" href="/css/generalstyle.css" />

</head>

<body>
    <header>
        <nav class="ewk_navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/secretary">AREA DE ADMINISTRACIÓN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="pagina-area-fabrica.jsp" href="/secretary">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Usuarios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin/crear-usuario">Crear usuarios</a>
                                </li>
                                <li><a class="dropdown-item" href="/admin/crear-usuario">Control usuario</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Medicos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin/registro-medicos">Registrar médico</a>
                                </li>
                                <li><a class="dropdown-item" href="/admin/registro-medicos">Control de médicos</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Exámenes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin/crear-examen">Crear exámen</a>
                                </li>
                                <li><a class="dropdown-item" href="/admin/crear-examen">Control de exámenes</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="ewk_cont_banner">
            <div class="ewk_sombra">
                <h1>AREA DE ADMINISTRACIÓN</h1>
                <p>Bienvenid@ al sistema admin</p>
                <hr />
                <div class="ewk_cont_banner_link">
                    <a class="ewk_banner_link" href="#">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/secretary.js"></script>
    <script src="../resources/libraries/bootstrap/js/jquery.js"></script>
    <script src="../resources/libraries/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>